body {
  background-color: darkgray;
  font-size:20px;
}

input {
  font-size:20px;
}

button {
  margin:5px;
  font-size:20px;
}
  
.container {
  margin:auto;
  width:60%
}
.sheader {
  text-align: center;
}

.quickcmd {
  padding:10px;
  border-style:solid;
  border-width:2px;
}

.quickcmd p {
  text-align:center;
}

.convo {
  background-color:lightgreen;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 25px; 
  width: 50%;
  /*height: 75px;*/
  float:left;  
}

.convo2 {
  background-color:lightblue;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 25px; 
  width: 50%;
  height: 75px;
  float:right;
  text-align:right;  
}

.ppt {
  width:100%;
  text-align:center;
}

#pttbutton {
  width: 200px;
  height:55px;
  margin: 0px -100px;
  position:relative;
  top:50%;
  left:50%;
}
